@charset "UTF-8";
/*========= base ===========*/

/* ベースのCSSを記述して初期化 */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

/* ---------------------------------TOPページ---------------------------- */

/* header */

.header {
  width: 100%;
}

.logo h1 {
  color: aliceblue;
  font-family: 'Solway', serif;
  margin-left: 20px;
}

/* ハンバーガーメニュー */

.global-navi {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  padding-top: 50px;
  background: rgba(32, 178, 170, 0.9);
  font-size: 16px;
  box-sizing: border-box;
  z-index: 2
}

.global-navi ul li {
  padding: 20px 28px
}

.global-navi ul li a {
  text-decoration: none;
  color: #fff;
}

.btn-navi {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 24px;
  z-index: 3;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.btn-navi span {
  position: absolute;
  width: 30px;
  height: 4px;
  background: #BA55D3;
  border-radius: 10px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.btn-navi span:nth-child(1) {
  top: 0;
}

.btn-navi span:nth-child(2) {
  top: 10px;
}

.btn-navi span:nth-child(3) {
  top: 20px;
}

/* ハンバーガーから→に変換 */

.btn-navi.open {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn-navi.open span {
  background: #fff;
}

.btn-navi.open span:nth-child(1) {
  width: 24px;
  transform: translate(-7px, 17px) rotate(45deg);
  -webkit-transform: translate(-7px, 17px) rotate(45deg);
}

.btn-navi.open span:nth-child(3) {
  width: 24px;
  transform: translate(-7px, -17px) rotate(-45deg);
  -webkit-transform: translate(-7px, -17px) rotate(-45deg);
}

/* ここまでハンバーガーから→に変換 */

/* ここまでハンバーガーメニュー */

/* mainvisual */

.mainvisual {
  position: relative;
  height: 600px;
}

.mainvisual img {
  width: 70%;
  height: 500px;
  object-fit: cover;
  margin-left: 30%;
  opacity: 0.9;
}

.mainvisual h2 {
  position: absolute;
  font-family: 'Kosugi', sans-serif;
  color: #fff;
  top: 30%;
  left: 20%;
  background-color: rgba(72, 209, 204, 0.9);
  font-size: 3rem;
  padding: 1rem;
}

.bg1 {
  background: -webkit-linear-gradient(left, #BA55D3, #20B2AA, #fff);
  height: 700px;
  width: 45%;
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}

/* ここまでmainvisual */

/* 会社コンセプト部分 */

.concept h2 {
  margin-bottom: 100px;
  text-align: center;
  color: #20B2AA;
}

.concept .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.concept .contents figure {
  width: 50%;
  opacity: 0.8;
}

.concept .content {
  width: 48%;
}

/* ここまで会社コンセプト */

/* 事業内容 */

.services {
  width: 100%;
  padding-top: 40px;
  position: relative;
}

/* 擬似要素::beforeを使用して背景の作成 */

.services::before {
  content: '';
  background: -webkit-linear-gradient(top, #BA55D3, #20B2AA, #fff);
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.services h2 {
  margin-bottom: 60px;
  text-align: center;
  color: aliceblue;
}

.services ul {
  display: flex;
  justify-content: space-around;
  width: 1400px;
}

.services ul li {
  width: 400px;
}

.services figure img {
  width: 400px;
  height: 400px;
  margin-left: -45px;
}

/* ここまで事業内容 */

/* News */

.news .content-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.news h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

.news li {
  border-bottom: dotted 1px #20B2AA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news li a {
  color: #333333;
}

.news li a:hover {
  opacity: 0.6;
}

.news li time {
  font-size: 0.75em;
  color: #20B2AA;
  padding-right: 0;
  margin-right: 80px;
}

/* ここまでNews */

/* recruit */

.recruit {
  position: relative;
}

.recruit::before {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(right, #BA55D3, #20B2AA, #fff);
  height: 400px;
  width: 45%;
  top: -20px;
  right: 0;
  z-index: -1;
}

.recruit-img img {
  width: 80%;
  height: 400px;
  margin-right: 20%;
  object-fit: cover;
}

/* 半透明のレイヤーを重ねて採用ボタンの視認性をあげる */

.recruit h2 a {
  position: absolute;
  top: 45%;
  right: 52%;
  width: 250px;
  height: 60px;
  background-color: rgba(32, 178, 170, 0.8);
  line-height: 60px;
  text-align: center;
  color: aliceblue;
}

/* ここまでrecruit */

/* footer */

footer .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.address h2 {
  color: #20B2AA;
  font-family: 'Solway', serif;
}

.address p {
  line-height: 1.8;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-right: 50px;
}

footer ul li a {
  color: #BA55D3;
}

.copylight p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  line-height: 100px;
  color: #fff;
  background-color: #20B2AA;
}

/* ここまでfooter */

/* TOPへ戻るボタン */

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background: #BA55D3;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 10px;
}

/* ここまでTOPへ戻るボタン */

/* 上から下にスライドダウン */

.fadeInDown {
  opacity: 0;
  /* 透明 */
  transform: translateY(-70px);
  /* Y（縦）軸方向に-70px */
  transition: 3s;
}

/* 下から上にスライドダウン */

.fadeInUp {
  opacity: 0;
  /* 透明 */
  transform: translateY(70px);
  /* Y（縦）軸方向に70px */
  transition: 3s;
}

/* ------------------------ここまでTOPページ------------------------------ */

/* -------------------------会社概要ページ-------------------------------- */

/* サブビジュアル */

.subvisual {
  margin-bottom: 120px;
  background-image: url(images/jakob-owens-JzJSybPFb3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subvisual h1 {
  text-align: center;
  font-size: 2rem;
  color: #20B2AA;
  text-shadow: 2px 2px 4px #778899;
  line-height: 400px;
  font-weight: bold;
}

/* ここまでサブビジュアル */

/* concept箇所 */

/* grid rayoutによる記述 */

.company-concept {
  margin-bottom: 120px;
}

.company-concept .contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.company-concept h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

/* ここまでconcept */

/* company-profile */

.company-profile {
  margin-bottom: 120px;
}

.company-profile h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

table.company {
  width: 100%;
  margin: 0 auto;
}

table.company th {
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  line-height: 1.5em;
  text-align: left;
}

table.company td {
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px solid #fff;
  line-height: 1.5em;
}

/* ここまでcompany-profile */

/* map */

.company-map h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

.company-map {
  margin-bottom: 0;
}

/* -------------------------ここまで会社概要ページ-------------------------------- */

/* -------------------------リクルートページ-------------------------------------- */

.recruit-point h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

table.content {
  width: 100%;
  margin: 0 auto;
}

table.content th {
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  line-height: 1.5em;
  text-align: left;
}

table.content td {
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px solid #fff;
  line-height: 1.5em;
}

/* -------------------------ここまでリクルートページ------------------------------- */

/* -------------------------事業内容ページ------------------------------------ */

.services-info h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

.services01 {
  margin-bottom: 240px;
}

.services01 dl {
  width: 100%;
  position: relative;
}

.services01 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

.services01 dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
  background: -webkit-linear-gradient(right, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

.services02 {
  margin-bottom: 240px;
}

.services02 dl {
  width: 100%;
  position: relative;
}

.services02 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

/* flexで画像と文章を逆位置する */

.services02 dt {
  display: flex;
  justify-content: flex-end;
}

.services02 dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 10%;
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

.services03 {
  margin-bottom: 240px;
}

.services03 dl {
  width: 100%;
  position: relative;
}

.services03 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

.services03 dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
  background: -webkit-linear-gradient(right, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

/* スライドアニメーション */

/* RightToLeftスライド servicesページ*/

@keyframes RightToLeft {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(50px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0);
  }
}

/* RightToLeftスライドの適用 */

.services02 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 2s;
  /* アニメーション開始時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

.services01 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

.services03 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 3.5s;
  /* アニメーション開始時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

/* LeftToRightスライド */

@keyframes LeftToRight {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(-50px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0);
  }
}

/* LeftToRightスライドの適用 */

.services01 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

.services02 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 2s;
  /* アニメーション開始時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

.services03 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 3.5s;
  /* アニメーション開始時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

/* -------------------------ここまで事業内容ページ------------------------------ */

/* -------------------------問い合わせページ----------------------------------- */

.contact h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
  border-bottom: 3px solid #20B2AA;
}

.contact p {
  text-align: center;
}

.contact p span {
  color: red;
}

.must {
  color: red;
  margin-left: 10px;
}

.form {
  margin-bottom: 80px;
}

.form dl {
  display: flex;
  padding: 20px 0;
  border-bottom: 1px dotted #20B2AA;
}

.form dl:first-of-type {
  border-top: 1px dotted #20B2AA;
}

.form dt {
  width: 300px;
  box-sizing: border-box;
  padding: 20px 0 20px 10px;
  line-height: 1em;
}

.form dd {
  width: calc(100% - 300px);
  box-sizing: border-box;
}

.form dd input, .form dd select, .form dd textarea {
  font-size: 1em;
  border: 1px solid #20B2AA;
  box-sizing: border-box;
}

.form dd input, .form dd select {
  line-height: 60px;
  height: 60px;
  padding: 0 20px;
}

.form dd textarea {
  height: 140px;
  line-height: 2em;
  padding: 20px;
}

.form dl.name dd {
  padding: 0 0 0 25px;
}

.form dl.name dd span {
  margin: 0 20px 0 0;
}

.form dl.name dd input {
  width: 350px;
}

.form dl.name dd input:first-of-type {
  margin: 0 50px 0 0;
}

.form dl.furigana dd {
  padding: 0 0 0 10px;
}

.form dl.furigana dd span {
  margin: 0 20px 0 0;
}

.form dl.furigana dd input {
  width: 350px;
}

.form dl.furigana dd input:first-of-type {
  margin: 0 30px 0 0;
}

label {
  margin-right: 5em;
}

.form dl.mail dd input {
  width: calc(100% - 30px);
}

.form dl.tel dd input {
  width: 200px;
}

.form dl.tel dd span {
  margin: 0 20px;
}

.form dl.zip dd input {
  width: 200px;
}

.form dl.zip dd span {
  margin: 0 20px;
}

.form dl.address dd input {
  width: calc(100% - 30px);
}

.form dl.multi-text dd textarea {
  width: calc(100% - 30px);
}

.form .form-button {
  display: flex;
  justify-content: center;
  margin: 50px auto 0 auto;
}

.form .form-button input {
  display: block;
  width: 250px;
  line-height: 50px;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  background: -webkit-linear-gradient(top, #00CED1, #20B2AA, #fff);
  border: 1px solid #20B2AA;
  margin: 0 15px;
  cursor: pointer;
  transition: .3s ease all;
}

.form .form-button input:hover {
  background-color: transparent;
  color: #444;
  transition: .3s ease all;
}

/* ---------------------ここまで問い合わせページ-------------------------- */

/* ---------------------レスポンシブデザイン（スマホ対応）--------------- */

@media screen and (max-width:600px) {
  /* 画面サイズが600px以下の場合に適用 */
  body {
    font-size: 3.0vw;
  }
  /* header箇所 */
  .header {
    width: 100%;
  } 
  .header.logo h1 {
    font-size: 4.5vw;
  }
  /* ここまでheader箇所 */

  /* メインビジュアル箇所 */
  .mainvisual {
    width: 100%;
  }
  .mainvisual img {
    width: 100%;
    margin: 0 auto;
  }
  .mainvisual h2 {
    font-size: 7.0vw;
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .bg1 {
    width: 100%;
    margin-top: 50px;
  }
  /* ここまでメインビジュアル箇所 */
  
  .global-navi {
    position: fixed;
    top: 0;
    right: -400px;
    width: 100%;
    height: auto;
    padding-top: 50px;
    background: rgba(32, 178, 170, 0.9);
    font-size: 16px;
    box-sizing: border-box;
    z-index: 2
  }

  .global-navi ul li {
    display: block;
    padding: 20px 28px;
  }

  .global-navi ul li a {
    text-decoration: none;
    color: #fff;
  }

  .btn-navi {
    position: fixed;
    top: 25px;
    right: -330px;
    width: 100%;
    height: auto;
    z-index: 3;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  
  .btn-navi span {
    position: absolute;
    width: 30px;
    height: 4px;
    background: #BA55D3;
    border-radius: 10px;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
  
  .btn-navi span:nth-child(1) {
    top: 0;
  }
  
  .btn-navi span:nth-child(2) {
    top: 10px;
  }
  
  .btn-navi span:nth-child(3) {
    top: 20px;
  }

  .btn-navi.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .btn-navi.open span {
    background: #fff;
  }
  
  .btn-navi.open span:nth-child(1) {
    width: 24px;
    transform: translate(-7px, 17px) rotate(45deg);
    -webkit-transform: translate(-7px, 17px) rotate(45deg);
  }
  
  .btn-navi.open span:nth-child(3) {
    width: 24px;
    transform: translate(-7px, -17px) rotate(-45deg);
    -webkit-transform: translate(-7px, -17px) rotate(-45deg);
  }


  /* コンセプト部分 */
  .concept .content-wrapper {
    width: 100%;
  }

  .concept h2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #20B2AA;
  }
  
  .concept .contents {
    display: block;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
  
  .concept .contents figure {
    width: 100%;
    margin: 0 auto;
    opacity: 0.8;
  }
  
  .concept .content {
    width: 100%;
  }
  /* ここまでコンセプト部分 */

  /* 事業内容箇所 */
  .services {
    width: 100%;
    padding-top: 40px;
  }
  
  /* 擬似要素::beforeを使用して背景の作成 */
  
  .services::before {
    content: '';
    background: -webkit-linear-gradient(top, #BA55D3, #20B2AA, #fff);
    position: static;
    width: 100%;
    height: auto;
    z-index: -1;
  }
  
  .services h2 {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    color: aliceblue;
  }
  
  .services ul {
    display: block;
    width: 100%;
  }
  
  .services ul li {
    width: 100%;
  }
  
  .services figure img {
    max-width: 100%;
    height: 400px;
  }
  



  /* footer箇所 */
  .footer {
    width: 100%;
    text-align: center;
  }

  .footer .content-wrapper {
    width: 100%;
    display: block;
  }

  .footer ul li {
    width: 100%;
    display: block;
    margin-right: 15px;
    margin-top: 10px;
  }
  /* ここまでfooter箇所 */
}