@charset "UTF-8";

/*========= base ===========*/
/* ベースのCSSを記述して初期化 */
html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a { 
  text-decoration: none;
  color: #000;
}
a:hover { 
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
   width: 1400px;
   margin: 0 auto;
 }

 /* header */
 .header {
   width: 100%;
 }

 .header h1 {
   color: aliceblue;
   margin-left: 20px;
 }

 .header-nav {
   height: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .header nav ul li {
   margin-right: 50px;
 }
 /* ここまでheader */

 /* mainvisual */

 .mainvisual {
   position: relative;
   height: 600px;
 }

 .mainvisual img {
   width: 70%;
   height: 500px;
   object-fit: cover;
   margin-left: 30%;
   opacity: 0.9;
 }

 .mainvisual h2 {
   position: absolute;
   top: 30%;
   left: 20%;
   background-color: rgba(255, 255, 255, 0.4);
   font-size: 3rem;
   padding: 1rem;
 }

 

 .bg1 {
   background: #20B2AA;
   height: 700px;
   width: 45%;
   position: absolute;
   top: -18%;
   left: 0;
   z-index: -1;
 }
 /* ここまでmainvisual */

 /* 会社コンセプト部分 */
 .concept h2 {
   margin-bottom: 100px;
   text-align: center;
 }

 .concept .contents {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin: 0 auto;
   align-items: center;
 }

 .concept .contents figure {
   width: 50%;
   opacity: 0.8;
 }

 .concept .content {
   width: 48%;
 }
/* ここまで会社コンセプト */

/* 事業内容 */
.services {
  width: 100%;
  padding-top: 40px;
  position: relative;
}
/* 擬似要素::beforeを使用して背景の作成 */
.services::before {
  content: '';
  background: #20B2AA;
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.services h2 {
  margin-bottom: 60px;
  text-align: center;
  color: aliceblue;
}

.services ul {
  display: flex;
  justify-content: space-around;
  width: 1400px;
  
}

.services ul li {
  width: 400px;
}

.services figure img{
  width: 400px;
  height: 400px;
  margin-left: -45px;
}
/* ここまで事業内容 */

/* News */
.news .content-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.news h2 {
  margin-bottom: 50px;
  text-align: center;
}

.news li {
  border-bottom: dotted 1px #20B2AA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news li a {
  color: #333333;
}

.news li a:hover {
  opacity: 0.6;
}

.news li time {
  font-size: 0.75em;
  color: #20B2AA;
  padding-right: 0;
  margin-right: 80px;
}
/* ここまでNews */
