@charset "UTF-8";
/*========= base ===========*/

/* ベースのCSSを記述して初期化 */

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 1em 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  transition: .3s;
  opacity: 0.6;
}

section {
  margin-bottom: 120px;
}

.content-wrapper {
  width: 1400px;
  margin: 0 auto;
}

/* ---------------------------------TOPページ---------------------------- */

/* header */

.header {
  width: 100%;
}

.header h1 {
  color: aliceblue;
  font-family: 'Solway', serif;
  margin-left: 20px;
}

.header-nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav ul li {
  margin-right: 50px;
}

/* ここまでheader */

/* mainvisual */

.mainvisual {
  position: relative;
  height: 600px;
}

.mainvisual img {
  width: 70%;
  height: 500px;
  object-fit: cover;
  margin-left: 30%;
  opacity: 0.9;
}

.mainvisual h2 {
  position: absolute;
  font-family: 'Kosugi', sans-serif;
  color: #fff;
  top: 30%;
  left: 20%;
  background-color: rgba(72, 209, 204, 0.9);
  font-size: 3rem;
  padding: 1rem;
}

.bg1 {
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  height: 700px;
  width: 45%;
  position: absolute;
  top: -18%;
  left: 0;
  z-index: -1;
}

/* ここまでmainvisual */

/* 会社コンセプト部分 */

.concept h2 {
  margin-bottom: 100px;
  text-align: center;
  color: #20B2AA;
}

.concept .contents {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.concept .contents figure {
  width: 50%;
  opacity: 0.8;
}

.concept .content {
  width: 48%;
}

/* ここまで会社コンセプト */

/* 事業内容 */

.services {
  width: 100%;
  padding-top: 40px;
  position: relative;
}

/* 擬似要素::beforeを使用して背景の作成 */

.services::before {
  content: '';
  background: -webkit-linear-gradient(top, #20B2AA, #fff);
  position: absolute;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.services h2 {
  margin-bottom: 60px;
  text-align: center;
  color: aliceblue;
}

.services ul {
  display: flex;
  justify-content: space-around;
  width: 1400px;
}

.services ul li {
  width: 400px;
}

.services figure img {
  width: 400px;
  height: 400px;
  margin-left: -45px;
}

/* ここまで事業内容 */

/* News */

.news .content-wrapper {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 180px;
}

.news h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

.news li {
  border-bottom: dotted 1px #20B2AA;
  padding-top: 20px;
  padding-bottom: 20px;
}

.news li a {
  color: #333333;
}

.news li a:hover {
  opacity: 0.6;
}

.news li time {
  font-size: 0.75em;
  color: #20B2AA;
  padding-right: 0;
  margin-right: 80px;
}

/* ここまでNews */

/* recruit */

.recruit {
  position: relative;
}

.recruit::before {
  content: '';
  position: absolute;
  background: -webkit-linear-gradient(right, #20B2AA, #fff);
  height: 400px;
  width: 45%;
  top: -20px;
  right: 0;
  z-index: -1;
}

.recruit-img img {
  width: 80%;
  height: 400px;
  margin-right: 20%;
  object-fit: cover;
}

/* 半透明のレイヤーを重ねて採用ボタンの視認性をあげる */

.recruit h2 a {
  position: absolute;
  top: 45%;
  right: 52%;
  width: 250px;
  height: 60px;
  background-color: rgba(32, 178, 170, 0.8);
  line-height: 60px;
  text-align: center;
  color: aliceblue;
}

/* ここまでrecruit */

/* footer */

footer .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.address h2 {
  color: #20B2AA;
  font-family: 'Solway', serif;
}

.address p {
  line-height: 1.8;
}

footer ul {
  display: flex;
}

footer ul li {
  margin-right: 50px;
}

.copylight p {
  text-align: center;
  font-size: 0.75rem;
  margin: 0;
  line-height: 100px;
  color: #fff;
  background-color: #20B2AA;
}

/* ここまでfooter */

/* TOPへ戻るボタン */

#page_top {
  position: fixed;
  bottom: 30px;
  right: 20px;
}

#page_top a {
  background: #20B2AA;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  border-radius: 10px;
}

/* ここまでTOPへ戻るボタン */

/* 上から下にスライドダウン */

 .fadeInDown {
    opacity: 0;
    /* 透明 */
    transform: translateY(-70px);
    /* Y（縦）軸方向に-70px */
    transition: 2s;
  }
  

/* 下から上にスライドダウン */

.fadeInUp {
  opacity: 0;
  /* 透明 */
  transform: translateY(70px);
  /* Y（縦）軸方向に70px */
  transition: 2s;
}


/* ------------------------ここまでTOPページ------------------------------ */

/* -------------------------会社概要ページ-------------------------------- */

/* サブビジュアル */

.subvisual {
  margin-bottom: 120px;
  background-image: url(images/jakob-owens-JzJSybPFb3s-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.subvisual h1 {
  text-align: center;
  font-size: 2rem;
  color: #20B2AA;
  line-height: 400px;
  font-weight: bold;
}

/* ここまでサブビジュアル */

/* concept箇所 */

/* grid rayoutによる記述 */

.company-concept {
  margin-bottom: 120px;
}

.company-concept .contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.company-concept h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

/* ここまでconcept */

/* company-profile */

.company-profile {
  margin-bottom: 120px;
}

.company-profile h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

table.company {
  width: 100%;
  margin: 0 auto;
}

table.company th {
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  line-height: 1.5em;
  text-align: left;
}

table.company td {
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px solid #fff;
  line-height: 1.5em;
}

/* ここまでcompany-profile */

/* map */

.company-map h2 {
  margin-bottom: 50px;
  text-align: center;
  color: #20B2AA;
}

.company-map {
  margin-bottom: 0;
}

/* -------------------------ここまで会社概要ページ-------------------------------- */

/* -------------------------リクルートページ-------------------------------------- */

.recruit-point h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

table.content {
  width: 100%;
  margin: 0 auto;
}

table.content th {
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  color: #fff;
  box-sizing: border-box;
  padding: 20px;
  width: 30%;
  line-height: 1.5em;
  text-align: left;
}

table.content td {
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
  border-bottom: 1px solid #fff;
  line-height: 1.5em;
}

/* -------------------------ここまでリクルートページ------------------------------- */

/* -------------------------事業内容ページ------------------------------------ */

.services-info h2 {
  text-align: center;
  color: #20B2AA;
  margin-bottom: 20px;
}

.services01 {
  margin-bottom: 240px;
}

.services01 dl {
  width: 100%;
  position: relative;
}

.services01 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

.services01 dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
  background: -webkit-linear-gradient(right, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

.services02 {
  margin-bottom: 240px;
}

.services02 dl {
  width: 100%;
  position: relative;
}

.services02 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

/* flexで画像と文章を逆位置する */

.services02 dt {
  display: flex;
  justify-content: flex-end;
}

.services02 dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 10%;
  background: -webkit-linear-gradient(left, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

.services03 {
  margin-bottom: 240px;
}

.services03 dl {
  width: 100%;
  position: relative;
}

.services03 dl dt img {
  width: 60%;
  height: 500px;
  object-fit: cover;
}

.services03 dl dd {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 40%;
  background: -webkit-linear-gradient(right, #20B2AA, #fff);
  opacity: 0.9;
  padding: 80px;
  z-index: 2;
}

/* スライドアニメーション */

/* RightToLeftスライド servicesページ*/

@keyframes RightToLeft {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(50px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0);
  }
}

/* RightToLeftスライドの適用 */

.services02 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 2s;
  /* アニメーション開始時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

.services01 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

.services03 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 3.5s;
  /* アニメーション開始時間 */
  animation-name: RightToLeft;
  /* アニメーション名 */
}

/* LeftToRightスライド */

@keyframes LeftToRight {
  0% {
    opacity: 0;
    /* 透明 */
    transform: translateX(-50px);
    /* X軸方向に50px */
  }
  100% {
    opacity: 1;
    /* 不透明 */
    transform: translateX(0);
  }
}

/* LeftToRightスライドの適用 */

.services01 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

.services02 dd {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 2s;
  /* アニメーション開始時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

.services03 img {
  animation-duration: 3s;
  /* アニメーション時間 */
  animation-delay: 3.5s;
  /* アニメーション開始時間 */
  animation-name: LeftToRight;
  /* アニメーション名 */
}

/* -------------------------ここまで事業内容ページ------------------------------ */